name: Lint

on:
  workflow_call:

jobs:

  golangci-lint:
    name: Golangci Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.50
          args: --issues-exit-code=1
          only-new-issues: false
          skip-go-installation: false
          skip-pkg-cache: true
          skip-build-cache: true
