name: Test

on:
  push:
    branches-ignore: 
      - dev
      - master

jobs:

  setup_env:
    name: "Setup Env"
    runs-on: ubuntu-latest
    steps:

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17

  test:
    name: "Run Test"
    runs-on: ubuntu-latest
    needs: [ setup_env ]
    defaults:
      run:
        working-directory: ./
    steps:

      - name: Get source
        uses: actions/checkout@v2

      - name: Get deps
        run: make deps

      - name: Test
        run: make test
